<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="Task">
      <div class="row">
        <h3 class="col-xs-11">{{ task.name }}</h3>
        <button
          type="button"
          class="btn btn-default removeTask"
          aria-label="Right Align"
          (click)="handleRemoveTask()"
        >
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>

      <hr>

      <p>This task is {{ task.status }}</p>

      <button class="btn btn-primary" (click)="handleChangeStatus('TO DO')">Set to 'TO DO'</button>
      <button class="btn btn-warning" (click)="handleChangeStatus('IN WORK')">Set to 'IN WORK'</button>
      <button class="btn btn-success" (click)="handleChangeStatus('DONE')">Set to 'DONE'</button>
    </div>
  </div>
</div>


