<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-lg-8">

      <div class="row justify-content-md-between align-items-center mt-4">
        <div class="col-sm-12 col-md-auto">
          <h1>Tasks for my day</h1>
        </div>

        <div class="col col-md-auto">
          <button class="btn btn-danger" (click)="handleClearTasks()">Clear Tasks</button>
        </div>
      </div>

      <app-new-task></app-new-task>

      <app-tabs></app-tabs>

      <app-task
        *ngFor="let task of filteredTasks"
        [task]=task
      >
      </app-task>

    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

