<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-lg-8">

      <div class="row justify-content-md-between align-items-center mt-4">
        <div class="col-sm-12 col-md-auto">
          <h1>Tasks for my day</h1>
        </div>

        <div class="col col-md-auto">
          <button class="btn btn-danger" (click)="handleClearTasks()">Clear Tasks</button>
        </div>
      </div>

      <app-new-task (onAddTask)="handleAddTask($event)"></app-new-task>
      <app-task
        *ngFor="let task of tasks; let i = index"
        [task]=task
        [id]=i
        (onChangeStatus)="handleChangeStatus($event)"
        (onDeleteTask)="handleRemoveTask($event)"
      >
      </app-task>

    </div>
  </div>

</div>

